* {
    box-sizing: border-box;
}

.navv {

    position: absolute;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #F55A5A;
}

.nav--title {

    position: absolute;
    width: 120px;
    height: 20px;
    left: 48%;
    top: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.065em;
    color: #FFFFFF;
}

.nav--logo {

    position: absolute;
    left: 45.5%;
    width: 24px;
    height: 24px;
    top: 16px;
}

/*logo is overlapping with title when you minimize screen -- fix this!! */


.cards-list {
    display: flex;
    gap: 30px;
    overflow-x: auto;
    flex-direction: column;
    align-items: center;
    padding: 80px;


}

.card {
    width: 100%;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    overflow-x: auto;


}

.card--rest {
    flex-direction: column;
    float: right;
    width: 70%;
    padding-left: 15px;

}

.pin--img {
    width: 20px;
    height: 20px;
}

.card--img {
    width: 30%;
    height: 100%;
    border-radius: 5px;
}

.card--description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 10.24px;
    line-height: 150%;
    color: #2B283A;
}