* {
    box-sizing: border-box;
}

.navv {

    position: absolute;
    width: 100%;
    height: 55px;
    left: 0px;
    top: 0px;
    background: #F55A5A;
}

.nav--title {

    position: absolute;
    width: 120px;
    height: 20px;
    left: 48%;
    top: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.065em;
    color: #FFFFFF;
}

.nav--logo {

    position: absolute;
    left: 45.5%;
    width: 24px;
    height: 24px;
    top: 16px;
}